
body, html{
    -webkit-font-smoothing: antialiased;
    background-color: #111524;
    color: #c5c5d2;
    height: 100%;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

a{
    text-decoration: none;
}

#root {
    height: 100%;
    overflow: auto;
}

.route-container {
    height: 100%;
    position: relative;
    z-index: 1;
}

.wrapper {
    /* --navigation-collapsed-width: 56px; */
    /* --navigation-expanded-width: 200px; */
    align-items: stretch;
    background-color: #111524;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navigation .fixed {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: calc(var(--navigation-collapsed-width) + 1px);
}

.navigation {
    background-color: #111524;
    border-right: 1px solid #686666;
    box-shadow: 0 0 0 transparent;
    display: flex;
    flex-direction: column;
    padding: 16px 12px;
    /* transition: width.15s cubic-bezier(0, .57, .21, .99), box-shadow .15s cubic-bezier(0, .57, .21, .99); */
    z-index: 101;
}

.empty-div {
    height: 150px;
}

.navigation-logo {
    margin: 0 0 20px 4px;
    width: 100%;
    overflow: hidden;
}

.navigation-menu-item + .navigation-menu-item {
    margin-top: 4px;
}

.navigation-menu-item {
    color: #c5c5d2;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    /* transition: color .1s ease-in-out, background .1s ease-in-out; */
}

.navigation-menu-item-icon{
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    padding: 6px;
    /* transition: color .1s ease-in-out; */
    width: 40px;
}

.navigation-menu-item-icon svg {
    color: #c5c5d2;
    height: 30px;
    width: 30px;
}

.navigation-menu-item-label {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 20px;
    min-width: 0;
    overflow: hidden;
    padding: 15px 5px;
    /* white-space: nowrap; */
}

.navigation-footer {
    margin-top: auto;
}

#sidenav .empty-div{
    display: inline;
}

#sidenav .navigation-logo{
    display: none;
}

#sidenav .navigation-menu-item-label{
    display: none;
}

#sidenav:hover .empty-div{
    display: none;
}

#sidenav:hover .navigation-menu-item-label{
    display: inline;
}

#sidenav:hover .navigation-logo{
    display: inline;
}

@media (min-width: 600px){
    .navigation .fixed+.app-main{
        padding-left: 56px;
    }
}

.page-wrapper{
    background-color: #111524;
    box-sizing: border-box;
    color:#c5c5d2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main{
    flex: 1 1 auto;
    height: 100%;
    min-width: 0;
    overflow-y: auto;
}

.docs-header{
    align-items: center;
    border-bottom: 1px solid #686666;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    padding: 0 24px;
    /* bottom: -1px; */
    position: relative;
}

.subnav{
    align-items: center;
    display: flex;
    flex-direction: row;
    bottom: -1px;
    height: 100%;
    position: relative;
}

.subnav-item{
    color: #c5c5d2;
    display: flex;
    align-items: center;
    font-size: 14px;
    height: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    line-height: 20px;
}

.subnav-item + .subnav-item{
    margin-left: 20px;
}

.subnav-item-label{}

.docs-header-right{
    display: block;
    color: #c5c5d2;
}

.btn{
    color: #c5c5d2;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    position: relative;
    user-select: none;
    white-space: nowrap;
}

.btn-label-wrap{
    align-items: center;
    justify-content: right;
    opacity: 1;
    display: flex;
    width: 100%;
}

.btn-item{
    display: flex;
}

.btn-item-label{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    margin-left: 2px;
}

.btn-item:hover,.btn-item-label:hover{
    color: #fff;
}

.page-body.flush{
    padding: 0;
}

.page-body.full-width{
    width: 100%;
}

.page-body{
    flex: 1 0 auto;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 56px;
    width: 872px;
}

.docs-page{
    align-items: stretch;
    display: flex;
    height: calc(100% - 60px);
    position: relative;
}

.docs-nav{
    border-right: 1px solid #686666;
    flex: 0 0 auto;
    overflow: auto;
    padding: 20px 12px;
    width: 250px;
}

.side-nav{}

a.side-nav-item {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    line-height: 20px;
    padding: 6px 12px;
    text-decoration: none;
    transition: border .1s ease-in-out, background-color .1s ease-in-out
}

a.side-nav-item,a.side-nav-item:visited:not(:hover):not(.active) {
    color: #c5c5d2
}

a.side-nav-item:hover:not(.active-exact) {
    background-color: #1e253f;
    border: 1px solid #111524;
    color: white
}

a.side-nav-item.active:not(.active-exact) {
    color: #c5c5d2
}

a.side-nav-item.active-exact {
    background-color: #111524;
    color: #c5c5d2;
    font-weight: 500
}

a.side-nav-item:focus-visible {
    box-shadow: var(0px 0px 0px 1px #4c3d2e);
    outline: 0
}

.active-exact{
    margin-top: 5px;
    margin-bottom: 5px;
}

a.side-nav-child {
    font-size: 14px;
    line-height: 20px;
    margin-left: 12px
}

.side-nav-section+.side-nav-section {
    margin-top: 30px
}

@media (min-width: 1372px){
    .docs-body.ovr-page{
        margin-left: calc(50vw - 686px);
}
}

.docs-body{
    flex: 1 1 auto;
    height: 100%;
    max-width: 100%;
    min-width: 0px;
    overflow: auto;
}

.ovr-page.page-body{
    padding-top: 42px;
}

.ovr-page{
    background-color: #111524;
    box-sizing: border-box;
}

@media (min-width: 1372px){
    .docs-footer{
        margin-left: calc(50vw - 686px);
}
}

.docs-footer {
    padding: 20px 56px 40px;
}

@media (min-width: 450px){
    .ovr-page h1 .mobile-break{
        display: none;
    }
}

h1{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
}

h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}

h1, h2{
    margin-top: 0;
    color: #c5c5d2;
    font-weight: 700;
}

.ovr-section{ }

.ovr-section-title{
    display: flex;
}

.ovr-shortcuts{
    grid-gap: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 24px 0 64px;
}

.ovr-page .ovr-card{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: flex-end;
    overflow: hidden;
    padding: 20px 24px;
    position: relative;
}

.ovr-card img{
    width: 100%;
    align-items: center;
    justify-items: center;
}

.ovr-page .ovr-card-bg{
    bottom: 0;
    height: auto;
    left: 0;
    min-height: 100%;
    opacity: 1;
    position: absolute;
    transition: opacity .2s ease-in-out;
    width: 100%;
}

.ovr-card-title{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px #1e253f;
    position: relative;
    transition: color .2s ease-in-out;
    z-index: 2;
    font-weight: 900;
    line-height: 24px;
    font-size: 20px;
}

.ovr-card-title:hover{
    -webkit-text-stroke: thin #1e253f;
}

.table-select{
    text-align: center;
    margin-bottom: 10px;
}

.all{
    display: inline-block;
    width: 100%;
}

.act,.update {
    display: none; /* 默认隐藏 */
}

.act{
    display: inline-block;
    width: 100%;
}

.update{
    display: inline-block;
    width: 100%;
}

.eve-label{
    min-height: 200px;
    flex: 1;
    padding: 0 10px;
    padding-top: 10px;
}

.table-items {
    min-width: 300px;
    padding: 0 0 10px 300px;
    text-decoration: none;
    color: #c5c5d2;
    position: relative;
    display: block;
}

.table-items:hover{
    background-color: #1e253f;
}

.table-items-date{
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.table-items-cate{
    width: 100px;
    padding: 2px 0px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 100px;
    top: -2px;
}

.table-items-title{
    font-weight: bold;
    display: inline-block;
}

.ovr-footer-grid{
    grid-gap: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ovr-footer-item{
    max-width: 100%;
    text-align: center;
}

.ovr-page .ovr-card-lo{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: flex-end;
    overflow: hidden;
    padding: 20px 24px;
    position: relative;
}

.faq-text a{
    text-decoration: none;
    color: #e7d188;
}

.faq-list {
    background-color: #111524;
    color: white;
    cursor: help;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

.active, .faq-list:hover {
    background-color: #1e253f;
}

.faq-text {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

.toggle{
    float: right;
    margin-left: 10px;
}

.contect-header{
    display: flex;
    font-size: 16px;
    align-items: center;
    
}

.contect-header-item{
    text-decoration: none;
    color: #f6a822;
    padding: 0px 15px 0px 5px;
}

.contect-select{
    display: flex;
    flex-wrap: wrap;
}

.contect-select-option{
    padding: 0px 10px;
}

.contect-select-direction{
    display: inline-block;
    font-size: 12px;
}

hr{
    border: none;
    margin: 0;
    height: 1px;
    background-color: #c5c5d2;
}

.contect-dayparts{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 0px;
}

.contect-dayparts hr{
    flex-grow: 1;
    margin-left: 10px;
}

.contect-time{
    display: flex;
    flex-wrap: wrap;
}

.contect-time button{
    border: none;
    /* margin: 0px; */
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    overflow: visible;
    cursor: pointer;
    outline: 0px;
    text-align: center;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    appearance: none;
}

.contect-timeBtn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(16.66% - 10px);
}

.contect-dayparts-direction{
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

.contect-complete-bg{
    background-color: #1e253f;
    box-shadow: rgba(145, 145, 145, 0.5) 0px 2px 12px 0px;
    position: fixed;
    z-index: 100;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.contect-complete{
    padding: 10px 20px;
    margin-left: 200px;
    margin-right: auto;
    width: 100%;
    height: 55px
}

.contect-completeBtn{
    background-color: #f3a319;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    width: 70%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 130px;
    min-height: 35px;
    outline: 0px;
    cursor: pointer;
}

.contect-info{
    display: flex;
}

.contect-info svg{
    margin-right: 10px;
}

.contect-info-map{
    flex: 1 1 100%;
    margin-right: 10px;
}

.contect-info-body{
    flex: 1 1 100%;
    position: relative;
}

.contect-info-body a{
    text-decoration: none;
    color: #c5c5d2;
}

.contect-info-loca{
    color: #c5c5d2;
    padding: 15px 40px;
}

.contect-info-loca-title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.contect-info-item{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.contect-info-call{
    padding: 15px 40px;
    border-top: 1px solid rgba(#c5c5d2);
    border-right-color: rgba(#c5c5d2);
    border-bottom-color: rgba(#c5c5d2);
    border-left-color: rgba(#c5c5d2);
}

.contect-info-call-title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.contect-info-time{
    position: relative;
    padding: 15px 40px;
    border-top: 1px solid rgba(#c5c5d2);
    border-right-color: rgba(#c5c5d2);
    border-bottom-color: rgba(#c5c5d2);
    border-left-color: rgba(#c5c5d2);
}

.contect-info-time-title{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.contect-info-direction{
    display: table;
    width: 100%;
    margin-top: 5px;
    margin-left: 25px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    color: rgb(#c5c5d2);
    margin-bottom: 0px;
}

.contect-info-time-detail{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    position: absolute;
    right: 40px;
    top: calc(50% - 10px);
    display: block;
}

.contect-moreinfo-time-bg{
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(#1e253f);
    box-shadow: rgba(#fff) 0px 4px 12px 0px;
    position: absolute;
    z-index: 101;
    width: 100%;
}

.contect-moreinfo-title{
    padding: 10px;
    margin-left: 15px;
    display: table;
    width: 100%;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contect-moreinfo-day{
    display: table-cell;
    width: 30%;
    color: rgba(#fff);
}

.contect-moreinfo-time{
    display: table-cell;
    width: 70%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(#c5c5d2);
}

.contect-moreinfo-time-detail{
    margin-right: 10px;
    white-space: nowrap;
}